@model LAB_5___Tablas_Hash_y_Colas_de_prioridad.Models.UserModel

@{
    ViewBag.Title = "Index_admin";
}

<h1>Project Manager Panel</h1>
<h4>@ViewBag.Message</h4>

<h3>Ver tareas de Developers</h3>
@Html.ActionLink("Ver tareas", "WatchTasks_admin", "Task")

